<div id="jeu">
	<p>
		<b>Sélectionnez votre mode de jeu :</b>
		<ul>
			<li>Le mode classique vous permet de jouer à quizz en faisant le meilleur score possible.</li>
			<li>Le mode time-attack affiche en plus du score obtenu, le temps de jeu passé.</li>
			<li>Le mode random choisi aléatoirement les questions du quizz.</li>
		</ul>
	</p>
    <button ng-click="partieSolo()" class="btn">Jeu classique</button>
    <button ng-click="partieMulti()" class="btn">Jeu time-attack</button>
	<button ng-click="partieRandom()" class="btn">Jeu random</button>
</div>