<div id="jeu">
	<!-- Nom du quizz -->
	<div id="jeuNom"></div>

	<div id="scoreFinal">
		Votre score final :
		<div id="leScore" style="font-weight:bold;color:red;display:inline;"></div>
	</div>
	
	<div id="tempsFinal"></div>
	
	<div>
		<h2>Envoyer votre score sur Quizzbox Network (connexion Internet requise)</h2>
		<label for="pseudoNetwork">Pseudo</label>
		<input type="text" id="pseudoNetwork" name="pseudoNetwork"/>
		<br/>
		<label for="mdpNetwork">Mot de passe</label>
		<input type="password" id="mdpNetwork" name="mdpNetwork"/>
		<br/>
		<button ng-click="envoiScoreNetwork()" class="btn">Envoyer</button>
		<br/>
		<a href="{{confNetwork}}/inscription" target="_blank">Créer un compte sur Quizzbox Network</a>
		<br/>
		<a href="{{confNetwork}}/connexion" target="_blank">Mot de passe oublié</a>
	</div>
	
	<div>
		<h2>Envoyer votre score en local sur la Quizzbox</h2>
		<label for="pseudoLocal">Entrez un pseudo</label>
		<input type="text" id="pseudoLocal" name="pseudoLocal"/>
		<button ng-click="envoiScoreLocal()" class="btn">Envoyer</button>
	</div>
	<br/>
	<div>
		<button ng-click="continuer()" class="btn">Ne pas envoyer</button>
	</div>
	
    <div id="messageJeu"></div>
</div>